---
titleText: 'Catppuccin'
accent: {{blue}}
---



@import url('https://refact0r.github.io/midnight-discord/midnight.css');

:root {

  --corner-text: '{{titleText}}';

  --online-indicator: {{hsl green}};
  --dnd-indicator: {{hsl red}};
  --idle-indicator: {{hsl yellow}};

  --accent-1: {{hsl accent}};
  --accent-2: {{hsl (darken accent 0.05)}};
  --accent-3: {{hsl (darken accent 0.075)}};
  --accent-4: {{hsl (darken accent 0.10)}};
  --accent-5: {{hsl (darken accent 0.15)}};

  --mention: {{hsla (mix accent base 0.15)}};
  --mention-hover: {{hsla (mix accent base 0.2)}};
  --message-hover: {{hsl (mix accent base 0.2)}};

  --text-0: {{hsl crust}};
  --text-1: var(--text-2);
  --text-2: {{hsl (lighten (mix accent text 0.075) 0.05)}};
  --text-3: {{hsl (lighten (mix accent subtext1 0.075) 0.05)}};
  --text-4: {{hsl (lighten (mix accent subtext0 0.075) 0.05)}};
  --text-5: {{hsl (mix text base 0.5)}};

  --bg-1: {{hsl (darken (mix accent mantle 0.2) 0.075)}};
  --bg-2: {{hsl (darken (mix accent overlay0 0.2) 0.075)}};
  --bg-3: {{hsl (darken (mix accent base 0.2) 0.075)}};
  --bg-4: {{hsl (darken (mix accent mantle 0.2) 0.075)}};

  --hover: {{hsl (darken (mix accent surface1 0.2) 0.075)}};
  --active: {{hsl (darken (mix accent surface1 0.2) 0.075)}};

}